<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Taschenrechner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-input id="calculatorinput" type="text" [value]="data.name" (input)="nameChanged()"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" (click)="buttonClicked(7)">7</ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
